# Python
__pycache__/
*.pyc
dist/
docs/build/

# VSCODE
.vscode/
*.code-workspace

# Personal docs
_README.md

# Directories
myworkspace/
mcnpy/ace/files/
mcnpy/cov/files/
mcnpy/sampling/perturbed_ace_files/
mcnpy/sampling/new_perturbed_ace_files/
mcnpy/sampling/testing/
mcnpy/endf/files/
mcnpy/ace/work.ipynb