# Python
__pycache__/
*.pyc
dist/
docs/build/

# VSCODE
.vscode/
*.code-workspace

# Personal docs
_README.md
.env

# Directories
myworkspace/
mcnpy/ace/files/
mcnpy/cov/files/
mcnpy/sampling/perturbed_ace_files/
mcnpy/sampling/new_perturbed_ace_files/
mcnpy/sampling/new_perturbed_ace_files2/
mcnpy/sampling/test_endf_pert/
mcnpy/sampling/test_ace_pert/
mcnpy/sampling/testing/
mcnpy/endf/files/
mcnpy/ace/work.ipynb
mcnpy/endf/classes/mf4/debug_example.ipynb